{% load static i18n %}
{% if user.is_authenticated %}

<form id="logoutForm" action="logout/" method="post" >
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">
            {% if user.is_staff %}
            <a target="_blank" style="text-decoration: none" href="{% url 'admin:index' %}"> {% trans 'Hello' %} {{ user.full_name }}!</a>
            {% else %}
                Hello {{ user.full_name }}!
            {% endif %}
        </span></li>
        <li><a href='logout/' id="logoutSubmit">{% trans 'Logout' %}</a></li>
    </ul>
</form>
{% else %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="/login/">{% trans 'Login' %}</a></li>
    <li><a href="/signup/">{% trans 'Sign up' %}</a></li>
</ul>
{% endif %}
